replicaCount: 1

# Deployment strategy
strategy:
  type: Recreate

image:
  repository: ghcr.io/javedh-dev/tracktor
  pullPolicy: IfNotPresent
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

config:
  demoMode: false
  forceDataSeed: false
  corsOrigins: ""
  baseUrl: ""

service:
  type: ClusterIP
  port: 3000

persistence:
  enabled: true
  storageClass: ""
  accessMode: ReadWriteOnce
  size: 1Gi
  existingClaim: ""

resources:
  limits:
    memory: 512Mi
    cpu: 500m
  requests:
    cpu: 100m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}
