apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rss-to-telegram-bot
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  finalizers:
    - resources-finalizer.argocd.argoproj.io/background
spec:
  project: default
  sources:
    - repoURL: https://github.com/VizzleTF/home_proxmox.git
      targetRevision: HEAD
      path: charts/rss-to-telegram-bot
      helm:
        valueFiles:
          - $values/values/applications/rss-to-telegram-bot.yaml
    - repoURL: git@github.com:VizzleTF/home-proxmox-values.git
      targetRevision: HEAD
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: rsstt
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
