apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "may.fullname" . }}
  labels:
    app: {{ include "may.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "may.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "may.name" . }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.port }}
          protocol: TCP
        env:
        - name: SECRET_KEY
          value: {{ .Values.env.SECRET_KEY | quote }}
        - name: ADMIN_PASSWORD
          value: {{ .Values.env.ADMIN_PASSWORD | quote }}
        {{- if .Values.persistence.enabled }}
        volumeMounts:
        - name: data
          mountPath: {{ .Values.persistence.mountPath }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      {{- if .Values.persistence.enabled }}
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: {{ include "may.fullname" . }}
      {{- end }}
